<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:installLocation="auto"
    android:compileSdkVersion="33"
    android:compileSdkVersionCodename="13"
    package="com.maniscat2.sm64coopdx"
    platformBuildVersionCode="33"
    platformBuildVersionName="13"
    android:minSdkVersion="21"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:glEsVersion="0x20000" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />
    <!-- Allows the app to write the contents of your shared storage. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- Allows the app to control the vibrator. -->
    <uses-permission
        android:name="android.permission.VIBRATE" />
    <!-- Allows the app to create network sockets and use custom network protocols. The browser and other applications provide means to send data to the internet, so this permission is not required to send data to the internet. -->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <application
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:label="sm64coopdx"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.maniscat2.sm64coopdx.sm64coopdxActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|locale|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:fitsSystemWindows="true"
            android:alwaysRetainTaskState="true"
            android:windowSoftInputMode="adjustResize"
            android:preferMinimalPostProcessing="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </activity>
    </application>
</manifest>