name: Build coop

on:
    workflow_dispatch:
    push:
        branches: [ android-dev ]

jobs:
    build-ubuntu:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                sudo apt update
                sudo apt install -y build-essential git python3 libglew-dev libsdl2-dev libz-dev libcurl4-openssl-dev

            - name: Build the game
              run: make -j$(nproc)

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-ubuntu
                path: ./build/us_pc/sm64coopdx

    build-windows:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: windows-latest
        defaults:
            run:
                shell: msys2 {0}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              uses: msys2/setup-msys2@v2
              with:
                msystem: mingw64
                update: true
                install: >
                    unzip
                    make
                    git
                    mingw-w64-i686-gcc
                    mingw-w64-x86_64-gcc
                    mingw-w64-i686-glew
                    mingw-w64-x86_64-glew
                    mingw-w64-i686-SDL2
                    mingw-w64-i686-SDL
                    mingw-w64-x86_64-SDL2
                    mingw-w64-x86_64-SDL
                    python3

            - name: Build the game
              run: make -j$(nproc)

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-windows
                path: ./build/us_pc/sm64coopdx.exe

    build-macos-arm:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: macos-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                brew install make mingw-w64 gcc sdl2 pkg-config glew glfw3 libusb coreutils

            - name: Build the game
              run: |
                gmake OSX_BUILD=1 -j$(sysctl -n hw.ncpu)

            - name: Code sign the app (Ad-Hoc)
              run: |
                codesign --force --deep --sign - ./build/us_pc/sm64coopdx.app

            - name: Generate hash
              run: |
                cd tools
                g++ -std=c++17 -o hash_file hash_file.cpp
                echo "::notice ::$(./hash_file ../build/us_pc/sm64coopdx.app/Contents/MacOS/sm64coopdx)"

            - name: Zip the .app bundle
              run: |
                cd ./build/us_pc
                zip -r sm64coopdx-macos-arm.zip sm64coopdx.app
            
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-macos-arm
                path: ./build/us_pc/sm64coopdx-macos-arm.zip

    build-macos-intel:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: macos-13
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                brew install make mingw-w64 gcc@9 sdl2 pkg-config glew glfw3 libusb coreutils

            - name: Build the game
              run: |
                gmake OSX_BUILD=1 -j$(sysctl -n hw.ncpu)

            - name: Code sign the app (Ad-Hoc)
              run: |
                codesign --force --deep --sign - ./build/us_pc/sm64coopdx.app

            - name: Generate hash
              run: |
                cd tools
                g++ -std=c++17 -o hash_file hash_file.cpp
                echo "::notice ::$(./hash_file ../build/us_pc/sm64coopdx.app/Contents/MacOS/sm64coopdx)"

            - name: Zip the .app bundle
              run: |
                cd ./build/us_pc
                zip -r sm64coopdx-macos-intel.zip sm64coopdx.app
            
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-macos-intel
                path: ./build/us_pc/sm64coopdx-macos-intel.zip

    build-android:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: ubuntu-24.04-arm
        container:
          image: termux/termux-docker:aarch64
          volumes: 
              - /tmp/node20:/__e/node20
        env:
            ANDROID_ROOT: /system
            ANDROID_DATA: /data
            PREFIX: /data/data/com.termux/files/usr
            HOME: /data/data/com.termux/files/home
            PATH: /data/data/com.termux/files/usr/bin
            TMPDIR: /data/data/com.termux/files/usr/tmp
            LANG: en_US.UTF-8
            TZ: UTC
        steps:
            - name: Install dependencies
              run: |
                  ln -sf ${PREFIX}/etc/termux/mirrors/default ${PREFIX}/etc/termux/chosen_mirrors
                  /entrypoint.sh bash -c "yes | pkg upgrade -y"
                  chmod -R o+x ${PREFIX}/bin
                  /entrypoint.sh pkg install -y nodejs-lts
                  ln -sf ${PREFIX}/bin /__e/node20/bin

            - name: Checkout repository
              uses: actions/checkout@v4.2.2

            - name: Reset permissions
              run: chown -R 1000:1000 .

            - name: Build the game
              run: /entrypoint.sh .github/build-android.sh

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-android
                path: ./build/us_pc/sm64coopdx.apk