name: Build coop

on:
    workflow_dispatch:
    push:
        branches: [ android-dev ]

jobs:
    build-linux:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                sudo apt update
                sudo apt install -y build-essential git python3 libglew-dev libsdl2-dev libz-dev libcurl4-openssl-dev zip

            - name: Build the game
              run: make -j$(nproc)

            - name: Generate hash
              run: |
                cd tools
                g++ -std=c++17 -o hash_file hash_file.cpp
                echo "::notice ::$(./hash_file ../build/us_pc/sm64coopdx)"
            
            - name: Zip the game
              run: |
                cd ./build/us_pc
                zip -r sm64coopdx_Linux.zip dynos lang mods palettes libdiscord_game_sdk.so sm64coopdx

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-linux
                path: ./build/us_pc/sm64coopdx_Linux.zip
    
    build-steamos:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                sudo apt update
                sudo apt install -y build-essential git python3 libglew-dev libsdl2-dev libz-dev libcurl4-openssl-dev zip

            - name: Build the game
              run: make -j$(nproc) HANDHELD=1

            - name: Generate hash
              run: |
                cd tools
                g++ -std=c++17 -o hash_file hash_file.cpp
                echo "::notice ::$(./hash_file ../build/us_pc/sm64coopdx)"
            
            - name: Zip the game
              run: |
                cd ./build/us_pc
                zip -r sm64coopdx_SteamOS.zip dynos lang mods palettes libdiscord_game_sdk.so sm64coopdx

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-steamos
                path: ./build/us_pc/sm64coopdx_SteamOS.zip

    build-windows-opengl:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: windows-latest
        defaults:
            run:
                shell: msys2 {0}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              uses: msys2/setup-msys2@v2
              with:
                msystem: mingw64
                update: true
                install: >
                    unzip
                    make
                    git
                    mingw-w64-i686-gcc
                    mingw-w64-x86_64-gcc
                    mingw-w64-i686-glew
                    mingw-w64-x86_64-glew
                    mingw-w64-i686-SDL2
                    mingw-w64-i686-SDL
                    mingw-w64-x86_64-SDL2
                    mingw-w64-x86_64-SDL
                    python3
                    zip

            - name: Build the game
              run: make -j$(nproc)

            - name: Generate hash
              run: |
                cd tools
                g++ -std=c++17 -o hash_file.exe hash_file.cpp
                echo "::notice ::$(./hash_file.exe ../build/us_pc/sm64coopdx.exe)"
            
            - name: Zip the game
              run: |
                cd ./build/us_pc
                zip -r sm64coopdx_Windows_OpenGL.zip dynos lang mods palettes coop.map discord_game_sdk.dll sm64coopdx.exe

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-windows-opengl
                path: ./build/us_pc/sm64coopdx_Windows_OpenGL.zip

    build-windows-directx:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: windows-latest
        defaults:
            run:
                shell: msys2 {0}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              uses: msys2/setup-msys2@v2
              with:
                msystem: mingw64
                update: true
                install: >
                    unzip
                    make
                    git
                    mingw-w64-i686-gcc
                    mingw-w64-x86_64-gcc
                    mingw-w64-i686-glew
                    mingw-w64-x86_64-glew
                    mingw-w64-i686-SDL2
                    mingw-w64-i686-SDL
                    mingw-w64-x86_64-SDL2
                    mingw-w64-x86_64-SDL
                    python3
                    zip

            - name: Build the game
              run: make -j$(nproc) RENDER_API=D3D11 WINDOW_API=DXGI

            - name: Generate hash
              run: |
                cd tools
                g++ -std=c++17 -o hash_file.exe hash_file.cpp
                echo "::notice ::$(./hash_file.exe ../build/us_pc/sm64coopdx.exe)"
            
            - name: Zip the game
              run: |
                cd ./build/us_pc
                zip -r sm64coopdx_Windows_DirectX.zip dynos lang mods palettes coop.map discord_game_sdk.dll sm64coopdx.exe

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-windows-directx
                path: ./build/us_pc/sm64coopdx_Windows_DirectX.zip

    build-macos-arm:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: macos-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                brew install make mingw-w64 sdl2 pkg-config glew glfw3 coreutils

            - name: Build the game
              run: |
                gmake OSX_BUILD=1 -j$(sysctl -n hw.ncpu)

            - name: Code sign the app (Ad-Hoc)
              run: |
                codesign --force --deep --sign - ./build/us_pc/sm64coopdx.app

            - name: Generate hash
              run: |
                cd tools
                g++ -std=c++17 -o hash_file hash_file.cpp
                echo "::notice ::$(./hash_file ../build/us_pc/sm64coopdx.app/Contents/MacOS/sm64coopdx)"

            - name: Zip the .app bundle
              run: |
                cd ./build/us_pc
                zip -r sm64coopdx_macOS_ARM.zip sm64coopdx.app
            
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-macos-arm
                path: ./build/us_pc/sm64coopdx_macOS_ARM.zip

    build-macos-intel:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: macos-13
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                brew install make mingw-w64 gcc@9 sdl2 pkg-config glew glfw3 coreutils

            - name: Build the game
              run: |
                gmake OSX_BUILD=1 -j$(sysctl -n hw.ncpu)

            - name: Code sign the app (Ad-Hoc)
              run: |
                codesign --force --deep --sign - ./build/us_pc/sm64coopdx.app

            - name: Generate hash
              run: |
                cd tools
                g++ -std=c++17 -o hash_file hash_file.cpp
                echo "::notice ::$(./hash_file ../build/us_pc/sm64coopdx.app/Contents/MacOS/sm64coopdx)"

            - name: Zip the .app bundle
              run: |
                cd ./build/us_pc
                zip -r sm64coopdx_macOS_Intel.zip sm64coopdx.app
            
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-macos-intel
                path: ./build/us_pc/sm64coopdx_macOS_Intel.zip

    build-android:
      if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
      strategy:
        matrix:
          include:
            - runner: ubuntu-24.04-arm
              architecture: aarch64
              abi: arm64-v8a
              image: termux/termux-docker:aarch64
            - runner: ubuntu-24.04
              architecture: x86_64
              abi: x86_64
              image: termux/termux-docker:x86_64

      runs-on: ${{ matrix.runner }}
      container:
        image: ${{ matrix.image }}
        volumes: 
          - /tmp/node20:/__e/node20

      env:
        ANDROID_ROOT: /system
        ANDROID_DATA: /data
        PREFIX: /data/data/com.termux/files/usr
        HOME: /data/data/com.termux/files/home
        PATH: /data/data/com.termux/files/usr/bin
        TMPDIR: /data/data/com.termux/files/usr/tmp
        LANG: en_US.UTF-8
        TZ: UTC

      steps:
        - name: Install dependencies
          run: |
            ln -sf ${PREFIX}/etc/termux/mirrors/default ${PREFIX}/etc/termux/chosen_mirrors
            /entrypoint.sh bash -c "yes | pkg upgrade -y"
            chmod -R o+x ${PREFIX}/bin
            /entrypoint.sh pkg install -y nodejs-lts
            ln -sf ${PREFIX}/bin /__e/node20/bin

        - name: Checkout repository
          uses: actions/checkout@v4.2.2

        - name: Reset permissions
          run: chown -R 1000:1000 .

        - name: Build the game
          run: /entrypoint.sh .github/build-android.sh ${{ matrix.architecture }}

        - name: Upload libs
          uses: actions/upload-artifact@v4
          with:
            name: libmain-${{ matrix.abi }}
            path: build/us_pc/libmain.so

        - uses: actions/upload-artifact@v4
          with:
            name: libc++-${{ matrix.abi }}
            path: /data/data/com.termux/files/usr/lib/libc++_shared.so

        - name: Upload APK
          uses: actions/upload-artifact@v4
          with:
            name: sm64coopdx-${{ matrix.abi }}-apk
            path: build/us_pc/sm64coopdx.apk

    merge:
      needs: build-android
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4.2.2

        - name: Set up Java
          uses: actions/setup-java@v4
          with:
            distribution: 'temurin'
            java-version: '17'

        - name: Install Android SDK tools
          run: |
            sudo apt-get update
            sudo apt-get install -y wget unzip zipalign apksigner
            wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip
            mkdir -p $HOME/android-sdk/cmdline-tools
            unzip commandlinetools-linux-9477386_latest.zip -d $HOME/android-sdk/cmdline-tools
            mv $HOME/android-sdk/cmdline-tools/cmdline-tools $HOME/android-sdk/cmdline-tools/latest
            export ANDROID_HOME=$HOME/android-sdk
            export PATH=$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/platform-tools:$ANDROID_HOME/build-tools/34.0.0:$PATH
            yes | sdkmanager --licenses
            sdkmanager "build-tools;34.0.0"

        - name: Fetch native libs aarch64
          uses: actions/download-artifact@v4
          with:
            name: libmain-arm64-v8a
            path: platform/android/android/lib/arm64-v8a
        - name: Fetch libc++ aarch64
          uses: actions/download-artifact@v4
          with:
            name: libc++-arm64-v8a
            path: platform/android/android/lib/arm64-v8a

        - name: Fetch native libs x86_64
          uses: actions/download-artifact@v4
          with:
            name: libmain-x86_64
            path: platform/android/android/lib/x86_64
        - name: Fetch libc++ x86_64
          uses: actions/download-artifact@v4
          with:
            name: libc++-x86_64
            path: platform/android/android/lib/x86_64

        - name: Prepare assets and merge APK
          run: |
            mkdir -p platform/android/android/assets/
            cp -r mods lang palettes dynos platform/android/android/assets/

            pushd platform/android/android
            zip -0 -r ../../../sm64coopdx_unaligned.zip ./*
            popd

            export ANDROID_HOME=$HOME/android-sdk
            export PATH=$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/platform-tools:$ANDROID_HOME/build-tools/34.0.0:$PATH

            zipalign -f -p 4 sm64coopdx_unaligned.zip sm64coopdx.apk
            apksigner sign --cert platform/android/certificate.pem \
                            --key platform/android/key.pk8 \
                            sm64coopdx.apk

        - uses: actions/upload-artifact@v4
          with:
            name: sm64coopdx-universal-apk
            path: sm64coopdx.apk
