name: Build coop

on:
    workflow_dispatch:
    push:
        branches: [ dev ]

jobs:
    build-ubuntu:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                sudo apt update
                sudo apt install -y build-essential git python3 libglew-dev libsdl2-dev libz-dev libcurl4-openssl-dev

            - name: Build the game
              run: make -j$(nproc)

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-ubuntu
                path: ./build/us_pc/sm64coopdx

    build-windows:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: windows-latest
        defaults:
            run:
                shell: msys2 {0}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              uses: msys2/setup-msys2@v2
              with:
                msystem: mingw64
                update: true
                install: >
                    unzip
                    make
                    git
                    mingw-w64-i686-gcc
                    mingw-w64-x86_64-gcc
                    mingw-w64-i686-glew
                    mingw-w64-x86_64-glew
                    mingw-w64-i686-SDL2
                    mingw-w64-i686-SDL
                    mingw-w64-x86_64-SDL2
                    mingw-w64-x86_64-SDL
                    python3

            - name: Build the game
              run: make -j$(nproc)

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-windows
                path: ./build/us_pc/sm64coopdx.exe

    build-macos-arm:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: macos-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
                brew install make mingw-w64 gcc sdl2 pkg-config glew glfw3 libusb coreutils

            - name: Build the game
              run: |
                gmake OSX_BUILD=1 -j$(sysctl -n hw.ncpu)

            - name: Code sign the app (Ad-Hoc)
              run: |
                codesign --force --deep --sign - ./build/us_pc/sm64coopdx.app

            - name: Zip the .app bundle
              run: |
                cd ./build/us_pc
                zip -r sm64coopdx-macos-arm.zip sm64coopdx.app
            
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-macos-arm
                path: ./build/us_pc/sm64coopdx-macos-arm.zip

    build-macos-intel:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: macos-13
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
                brew install make mingw-w64 gcc@9 sdl2 pkg-config glew glfw3 libusb coreutils

            - name: Build the game
              run: |
                gmake OSX_BUILD=1 -j$(sysctl -n hw.ncpu)

            - name: Code sign the app (Ad-Hoc)
              run: |
                codesign --force --deep --sign - ./build/us_pc/sm64coopdx.app

            - name: Zip the .app bundle
              run: |
                cd ./build/us_pc
                zip -r sm64coopdx-macos-intel.zip sm64coopdx.app
            
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-macos-intel
                path: ./build/us_pc/sm64coopdx-macos-intel.zip

    build-android:
        strategy:
            matrix:
                include:
                    - runner: ubuntu-24.04
                      architecture: i686
                    - runner: ubuntu-24.04
                      architecture: x86_64
                    - runner: ubuntu-24.04-arm
                      architecture: arm
                    - runner: ubuntu-24.04-arm
                      architecture: aarch64
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: ${{ matrix.runner }}
        container:
            image: termux/termux-docker:${{ matrix.architecture }}
            volumes: 
                - /tmp/node20:/__e/node20
        env:
            ANDROID_ROOT: /system
            ANDROID_DATA: /data
            PREFIX: /data/data/com.termux/files/usr
            HOME: /data/data/com.termux/files/home
            PATH: /data/data/com.termux/files/usr/bin
            TMPDIR: /data/data/com.termux/files/usr/tmp
            LANG: en_US.UTF-8
            TZ: UTC
        steps:
            - name: set pkg command to use the packages-cf.termux.dev mirror
              run: ln -sf ${PREFIX}/etc/termux/mirrors/default ${PREFIX}/etc/termux/chosen_mirrors
            - name: upgrade all packages to prepare for installing nodejs
              run: /entrypoint.sh bash -c "yes | pkg upgrade -y"
            - name: fix executable bit for all binaries in $PREFIX/bin for all users
              run: chmod -R o+x ${PREFIX}/bin
            - name: install bionic-libc nodejs to force compatibility with actions/checkout and actions/upload-artifact
              run: |
                  /entrypoint.sh pkg install -y nodejs-lts
                  ln -sf ${PREFIX}/bin /__e/node20/bin
            - uses: actions/checkout@v4.2.2
            - name: fix permissions of repository after actions/checkout, which ran as root user
              run: chown -R 1000:1000 .
            - name: build
              run: /entrypoint.sh .github/build-android.sh
            - uses: actions/upload-artifact@v4.6.0
              with:
                  name: main-${{ matrix.architecture }}
                  path: build/us_pc/libmain.so
            - uses: actions/upload-artifact@v4.6.0
              with:
                  name: libc++-${{ matrix.architecture }}
                  path: ${{ env.PREFIX }}/lib/libc++_shared.so
                  
    merge:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        needs: build-android
        runs-on: ubuntu-latest
        steps:
            - name: install dependencies
              run: |
                sudo apt-get update
                sudo apt-get upgrade -y
                sudo apt-get install -y zipalign apksigner
            - uses: actions/checkout@v4.2.2
            - name: Fetch libmain.so (x86)
              uses: actions/download-artifact@v4
              with:
                  name: main-i686
                  path: platform/android/android/lib/x86
            - uses: actions/checkout@v4.2.2
            - name: Fetch libmain.so (x86)
              uses: actions/download-artifact@v4
              with:
                  name: main-i686
                  path: platform/android/android/lib/x86
            - name: Fetch libc++_shared.so (x86)
              uses: actions/download-artifact@v4
              with:
                  name: libc++-i686
                  path: platform/android/android/lib/x86
            - name: Fetch libmain.so (x86_64)
              uses: actions/download-artifact@v4
              with:
                  name: main-x86_64
                  path: platform/android/android/lib/x86_64
            - name: Fetch libc++_shared.so (x86_64)
              uses: actions/download-artifact@v4
              with:
                  name: libc++-x86_64
                  path: platform/android/android/lib/x86_64
            - name: Fetch libmain.so (armeabi-v7a)
              uses: actions/download-artifact@v4
              with:
                  name: main-arm
                  path: platform/android/android/lib/armeabi-v7a
            - name: Fetch libc++_shared.so (armeabi-v7a)
              uses: actions/download-artifact@v4
              with:
                  name: libc++-arm
                  path: platform/android/android/lib/armeabi-v7a
            - name: Fetch libmain.so (arm64-v8a)
              uses: actions/download-artifact@v4
              with:
                  name: main-aarch64
                  path: platform/android/android/lib/arm64-v8a
            - name: Fetch libc++_shared.so (arm64-v8a)
              uses: actions/download-artifact@v4
              with:
                  name: libc++-aarch64
                  path: platform/android/android/lib/arm64-v8a
            - name: Generate merged apk
              run: |
                  mkdir platform/android/android/assets/
                  cp -r {mods,lang,palettes,dynos} platform/android/android/assets/
                  pushd platform/android/android/
                  zip -0 -r ../../../sm64coopdx_unaligned.zip ./*
                  popd
                  zipalign -f -p 4 sm64coopdx_unaligned.zip sm64coopdx.apk
                  apksigner sign --cert platform/android/certificate.pem \
                                  --key platform/android/key.pk8 \
                                  sm64coopdx.apk
            - uses: actions/upload-artifact@v4.6.0
              with:
                  name: sm64coopdx-android
                  path: sm64coopdx.apk